<div class="container__big-card">
   <div class="big-card__photo">
      <img
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKliD3S84oWgkq7o0yisHkUHIhyKUfNYrUNg&usqp=CAU"
         width="350px" srcset="">

   </div>
 
   <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
   </div>
   <div class="big-card__description">
      <p> 
        <a href="#">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu blandit tellus. Aenean ac luctus felis. Duis
         mattis risus dictum, malesuada felis eu, scelerisque nisl. Suspendisse dictum magna suscipit convallis
         pharetra.
        </a>
      </p>
   </div>
</div>